*,
*::before,
*::after {
  box-sizing: border-box;
}
:root{
    /* Font */
  --main-font: Roboto, sans-serif; 
  --secondary-font: Raleway, sans-serif;
  --secondary-txt-cl: #2E2F42 
}

 /* Base styles document*/
body {
  font-family: Roboto, sans-serif; 
  color: #434455; 
  background-color: #FFFFFF;
} 

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Base styles */
a {
text-decoration: none;
  }
ul, ol {
list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
.link {
text-decoration: none;
color: currentColor
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  /* width: auto;
  height: auto; */
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  height: 1px;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  width: 1px;
  overflow: hidden;
}

/* WebStudio styles */

/* Container */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Header section */
.header {
    border-bottom: 1px solid #e7e9fc
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
margin-right: auto;
align-items: center;
}
.header-logo {
font-family: Raleway, sans-serif;
 font-weight: 700;
 font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4D5AE5;
margin-right: 76px;
}

.logo-part {   
color: #2E2F42;
}
.nav-link {
display: flex;
border-top: 24px;
gap: 40px;
padding: 24px 0;
}

.nav-link-content {
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color:  #2E2F42;
}

.nav-link-content:hover,
.nav-link-content:active,
.nav-link-content:focus {
  color: #404BBF;
}

.address {
  font-style: normal;
  align-items: center;
  display: flex;
  border-top: 24px;
  gap: 40px;
  padding: 24px 0;
}

.address-link {
  display: flex;
  gap: 40px;
}
.address-link-content {
  color: #434455;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
}
.address-link-content:hover,
.address-link-content:active,
.address-link-content:focus {
color: #404BBF;
}
.nav-link-content,
.address {
display: block;
}
/* Hero section */
.hero-section {
  background-color: #2E2F42;
  padding: 188px 0;
}
.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
margin-bottom: 48px;
/* min-width: 496px; */
max-width: 496px;
margin-right: auto;
margin-left: auto;
}
.btn {
  font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: #4D5AE5;
cursor: pointer;
display: block;
margin-right: auto;
border-radius: 4px;
/* width: 169px;
height: 56px; */
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4D5AE5;
border: none;
padding: 16px 32px;
min-width: 169px;
margin-right: auto;
margin-left: auto;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #404BBF;
}

/* Feature section */
.feature-section {
  padding: 120px 0;
}
.feature-list {
  background-color: #FFFFFF;
  display: flex;
  gap: 24px;
  /* justify-content: center; */
  /* flex-wrap: wrap; */
}
.feature-item {
  width: calc((100% - 3 * 24px) / 4);
}
.feature-title {
  font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.feature-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #434455;
}

/* Our team */
.team-section {
  background-color: #F4F4FD;
  padding: 120px 0;
}
.team-theme {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  text-align: center;
  margin-right: 24px;
}
.team-list:last-child {
  margin-right: 0;
}
.team-item {
 background-color: #FFFFFF;
 border-radius: 0 0 4px 4px;
padding: 0px 0px 32px 0px;
width: 264px;
height: 380px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
width: calc((100% - 3 * 24px) / 4);
}

.team-image {
  margin: 0 auto;
}
.team-desc {
padding: 32px 0;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center; 
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center; 
}

/* Our portfolio */
.portfolio-section {
  padding: 120px 0;
}
.portfolio-theme {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
} 
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.portfolio-item {
  width: 360px;
height: 420px;
width: calc((100% - 2 * 24) / 3);
border-bottom: 1px solid #E7E9FC;
border-left: 1px solid #E7E9FC;
border-right: 1px solid #E7E9FC;
border-top: none; 
}
.portfolio-wrapper {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */
.footer {
  background-color: #2E2F42;
  padding: 100px 0;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
display: inline-block;
margin-bottom: 16px;
}
.logo-part-footer {
color:#F4F4FD;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}




